Repository Zefiros-Software/npm-defaults: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, format-json

eslint:
  run: yarn eslint --fix --resolve-plugins-relative-to . --ignore-pattern examples {staged_files}

format-json:
  run: yarn prettier --write --config prettier.config.js {staged_files}

fix: simplify format and lint scripts (#30)
  .github/workflows/typescript.yml
  examples/library/package.json
  examples/yargs-cli/package.json
  lefthook.base.yml
  package.json
  prettier.config.js
  src/commands/lint.ts
Due: eslint, format-json

chore(release): 0.2.0-beta.72
  CHANGELOG.md
  package.json
Due: format-json

Notes added by 'git notes add'
  ebfcf4b6210f80668aa170c2f1bbdbbf814d2982
Due: none

chore: bump versions
  examples/library/package.json
  examples/yargs-cli/package.json
  package.json
  yarn.lock
Due: format-json

feat: windows lefthook support
  bin/lefthook
  bin/lefthook.cmd
Due: none

feat: no implicit any catch
  .eslintrc.base.js
Due: format-json

chore: fix lint issues
  examples/library/package.json
  examples/yargs-cli/package.json
  src/commands/create.ts
  src/commands/env.ts
  src/commands/make-release.ts
  src/commands/release.ts
Due: eslint, format-json

chore(release): 0.2.0-beta.73
  CHANGELOG.md
  package.json
Due: format-json

Notes added by 'git notes add'
  812fe3d2d880c2df6b287650343a82563cb44a7f
Due: none

feat: use codecov github action
  .github/workflows/typescript.yml
Due: none

feat: use codecov github action (#31)
  .github/workflows/typescript.yml
Due: none

feat(npm): upgrade to npm@7
  .github/workflows/typescript.yml
  bin/lefthook
  examples/library/package.json
  examples/yargs-cli/package.json
  package-lock.json
  package.json
  src/commands/ci.ts
  src/commands/env.ts
  src/commands/lint.ts
  src/commands/release.ts
  yarn.lock
Due: eslint, format-json

feat(npm): upgrade to npm@7 (#32)
  .github/workflows/typescript.yml
  bin/lefthook
  examples/library/package.json
  examples/yargs-cli/package.json
  package-lock.json
  package.json
  src/commands/ci.ts
  src/commands/env.ts
  src/commands/lint.ts
  src/commands/release.ts
  yarn.lock
Due: eslint, format-json

chore(release): 0.2.0-beta.74
  CHANGELOG.md
  package-lock.json
  package.json
Due: format-json

Notes added by 'git notes add'
  ef0c88c8846c04ca59ea2f7a0a3d7e112f62fe20
Due: none

fix: correctly check error codes
  .gitignore
  examples/library/.gitignore
  examples/library/package.json
  examples/yargs-cli/.gitignore
  examples/yargs-cli/package.json
  src/commands/ci.ts
  src/commands/lint.ts
  templates/common/.gitignore
Due: eslint, format-json

chore(release): 0.2.0-beta.75
  CHANGELOG.md
  package-lock.json
  package.json
Due: format-json

Notes added by 'git notes add'
  a1167aa9f4855874ee0bf13dea81852e15fdb263
Due: none

feat: upgrade npm dependencies, allow in source testing
  .eslintrc.base.js
  examples/library/package.json
  examples/yargs-cli/package.json
  package-lock.json
  package.json
  src/commands/lint.ts
  wallaby.base.js
Due: eslint, format-json

chore(release): 0.2.0-beta.76
  CHANGELOG.md
  package-lock.json
  package.json
Due: format-json

Notes added by 'git notes add'
  5d505265e4f96f22f3a18a12acb9c749b2e96c7c
Due: none

ci: upgrade packages
  .eslintrc.base.js
  examples/library/package.json
  examples/yargs-cli/package.json
  lefthook.base.yml
  package-lock.json
  package.json
  src/commands/lint.ts
Due: eslint, format-json

fix: move eslint deprecation from devDependencies to dependencies
  package-lock.json
  package.json
Due: format-json

feat: upgrade to node 14
  .github/workflows/typescript.yml
  package-lock.json
  package.json
Due: format-json

chore(release): 0.2.0-beta.77
  CHANGELOG.md
  package-lock.json
  package.json
Due: format-json

Notes added by 'git notes add'
  91b02cc5f5fed2b4a70a88b11e0336780b137a91
Due: none

chore: prettier
  package-lock.json
Due: format-json

chore: improve global npm cache
  .github/workflows/typescript.yml
Due: none

chore: improve ci name
  .github/workflows/typescript.yml
Due: none

chore: remove global npm cache
  .github/workflows/typescript.yml
Due: none

chore: rename ci step
  .github/workflows/typescript.yml
Due: none

fix: upgrade eslint formating settings in vscode
  .vscode/settings.json
  examples/library/.vscode/settings.json
  examples/yargs-cli/.vscode/settings.json
  templates/common/.vscode/settings.json
Due: format-json

feat: upgrade tsconfig to 2020
  tsconfig.base.json
  tsconfig.json
Due: format-json

fix: upgrade webpack
  .vscode/settings.json
  webpack.library.js
  webpack.yargs.js
Due: format-json

chore(release): 0.2.0-beta.78
  CHANGELOG.md
  package-lock.json
  package.json
Due: format-json

Notes added by 'git notes add'
  2d46531f1b3240ab44854a52ac0ea20751df288c
Due: none

chore: simplify eslint command
  examples/library/package.json
  examples/yargs-cli/package.json
  lefthook.base.yml
  package.json
  src/commands/lint.ts
Due: eslint, format-json

chore: simplify eslint command (#33)
  examples/library/package.json
  examples/yargs-cli/package.json
  lefthook.base.yml
  package.json
  src/commands/lint.ts
Due: eslint, format-json

feat: upgrade dependencies
  package-lock.json
  package.json
Due: format-json

chore(release): 0.2.0-beta.79
  CHANGELOG.md
  package-lock.json
  package.json
Due: format-json

Path conditions:
  eslint: any of: *.{ts, tsx}
  format-json: any of: *.{js,json}
