Repository Zefiros-Software/npm-defaults: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, format-json

eslint:
  run: yarn eslint --fix --resolve-plugins-relative-to . --ignore-pattern examples {staged_files}

format-json:
  run: yarn prettier --write --config prettier.config.js {staged_files}

Notes added by 'git notes add'
  6fe23591eafd02e1cec29cb2bf4d9c1de302007f
Due: none

feat(eslint): auto fix unused imports
  .eslintrc.base.js
  package-lock.json
  package.json
Due: format-json

chore(release): 0.2.0-beta.80
  CHANGELOG.md
  package-lock.json
  package.json
Due: format-json

Notes added by 'git notes add'
  96b4af1aa55f1310cc7eccf5abe8a0b38eaad6e2
Due: none

feat(typescript): upgrade to typescript 4.4
  .github/workflows/typescript.yml
  examples/library/package.json
  examples/yargs-cli/package.json
  package-lock.json
  package.json
  src/commands/ci.ts
  src/commands/create.ts
  src/commands/env.ts
  src/commands/lint.ts
  src/index.ts
  tsconfig.base.json
Due: eslint, format-json

feat(typescript): upgrade to typescript 4.4 (#34)
  .github/workflows/typescript.yml
  examples/library/package.json
  examples/yargs-cli/package.json
  package-lock.json
  package.json
  src/commands/ci.ts
  src/commands/create.ts
  src/commands/env.ts
  src/commands/lint.ts
  src/index.ts
  tsconfig.base.json
Due: eslint, format-json

chore(release): 0.2.0-beta.81
  CHANGELOG.md
  package-lock.json
  package.json
Due: format-json

Notes added by 'git notes add'
  24b62d714562deb84bdf20b79c09c79a56a2e81c
Due: none

Path conditions:
  eslint: any of: *.{ts, tsx}
  format-json: any of: *.{js,json}
