Repository Zefiros-Software/npm-defaults: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, format-json

lefthook.yml:

commit-msg:
  commands:
    lint-commit-msg:
      run: commitlint --edit ./.git/COMMIT_EDITMSG
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{ts, tsx}'
      run: 'yarn eslint --fix --resolve-plugins-relative-to . --ignore-pattern examples {staged_files}'
    format-json:
      glob: '*.{js,json}'
      run: 'yarn prettier --write --config prettier.config.js {staged_files}'
pre-push:
  parallel: true
  commands:
    test:
      run: 'yarn test'

fix(typescript): use forward slash for tsdk lib path (#22)
  .vscode/settings.json
  examples/library/.vscode/settings.json
  examples/yargs-cli/.vscode/settings.json
  templates/common/.vscode/settings.json
Due: format-json

chore(release): 0.2.0-beta.65
  CHANGELOG.md
  package.json
  yarn.lock
Due: format-json

Notes added by 'git notes add'
  59d6c3da627d50f5dcc83f8ad136768e767c93a3
Due: none

fix(lefthook): make sure lefthook is installed before bootstrapping
  bin/lefthook.js
Due: format-json

fix(env): correctly bootstrap node
  bin/lefthook
  package.json
Due: format-json

feat(create): use github artifacts to create from examples
  package.json
  src/commands/create.ts
  yarn.lock
Due: eslint, format-json

fix(lefthook): make sure lefthook is installed before bootstrapping (#23)
  bin/lefthook
  bin/lefthook.js
  package.json
Due: format-json

chore(release): 0.2.0-beta.66
  CHANGELOG.md
  package.json
Due: format-json

Notes added by 'git notes add'
  ba5805ad66435f6bd91179af050d10e5020d6086
Due: none

fix(lefthook): run in the correct directory
  bin/lefthook
Due: none

chore(release): 0.2.0-beta.67
  CHANGELOG.md
  package.json
Due: format-json

Notes added by 'git notes add'
  63306a976e4a8e151e0e792e209f842826122b7f
Due: none

chore: switch jszip
  package.json
  src/commands/create.ts
  yarn.lock
Due: eslint, format-json

feat: add local mode
  src/commands/create.ts
Due: eslint

feat: parallelize zip creation
  src/commands/create.ts
Due: eslint

feat(create): use github artifacts to create from examples (#24)
  package.json
  src/commands/create.ts
  yarn.lock
Due: eslint, format-json

chore: update pipeline
  .github/workflows/typescript.yml
  src/commands/env.ts
Due: eslint

feat(env): check for already installed versions before global install
  package.json
  src/commands/env.ts
  yarn.lock
Due: eslint, format-json

chore(release): 0.2.0-beta.68
  CHANGELOG.md
  package.json
Due: format-json

Notes added by 'git notes add'
  432a7af80c824db104994013c7ee67d051ff51a8
Due: none

feat(env): check for already installed versions before global install (#25)
  .github/workflows/typescript.yml
  package.json
  src/commands/env.ts
  yarn.lock
Due: eslint, format-json

chore(release): 0.2.0-beta.69
  CHANGELOG.md
  package.json
Due: format-json

Notes added by 'git notes add'
  10697fbc08d77a3f11a2d83eca3ad3612291fc77
Due: none

fix(env): rebuild already installed global dependencies
  src/commands/env.ts
Due: eslint

fix(env): rebuild already installed global dependencies (#26)
  src/commands/env.ts
Due: eslint

chore(release): 0.2.0-beta.70
  CHANGELOG.md
  package.json
Due: format-json

Notes added by 'git notes add'
  a7080b0918b4b5784a9693882b56022d7a92463b
Due: none

feat(lefthook): add file to extend
  examples/library/lefthook.yml
  examples/yargs-cli/lefthook.yml
  lefthook.base.yml
  lefthook.yml
  templates/common/lefthook.yml
Due: none

chore: update packaged files
  package.json
Due: format-json

feat: remove redundant devDependencies
  src/commands/lint.ts
Due: eslint

chore: upgrade dependencies
  examples/library/package.json
  examples/library/tsconfig.json
  examples/yargs-cli/package.json
  examples/yargs-cli/tsconfig.json
  package.json
  yarn.lock
Due: format-json

chore: upgrade dependencies (#29)
  examples/library/package.json
  examples/library/tsconfig.json
  examples/yargs-cli/package.json
  examples/yargs-cli/tsconfig.json
  package.json
  yarn.lock
Due: format-json

feat(lefthook): add lefthook.base.yml (#27)
  examples/library/lefthook.yml
  examples/yargs-cli/lefthook.yml
  lefthook.base.yml
  lefthook.yml
  package.json
  templates/common/lefthook.yml
Due: format-json

feat: remove redundant devDependencies (#28)
  src/commands/lint.ts
Due: eslint

chore(release): 0.2.0-beta.71
  CHANGELOG.md
  package.json
Due: format-json

Notes added by 'git notes add'
  8271aee273665b3fa6426f217f12c270ac4fcfd3
Due: none

fix: simplify format and lint scripts
  .github/workflows/typescript.yml
  examples/library/package.json
  examples/yargs-cli/package.json
  lefthook.base.yml
  package.json
  prettier.config.js
  src/commands/lint.ts
Due: eslint, format-json

chore: revert plugins-relative-to
  examples/library/package.json
  examples/yargs-cli/package.json
  lefthook.base.yml
  package.json
  src/commands/lint.ts
Due: eslint, format-json

chore: update lefthook
  lefthook.base.yml
Due: none

chore: update examples
  examples/library/package.json
  examples/yargs-cli/package.json
Due: format-json
